<h1>About this blog</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus esse et earum itaque. Sit veniam, quibusdam nisi quas in laborum sint architecto excepturi, vel dolor at, ullam illo magnam eligendi!
</p>
<%= link_to "Home", root_path%>
