<div class="container">
  <h1>About This App</h1>
  <p>
    Welcome to my first application built using Ruby on Rails! While I've previously built apps using Svelte and React, this marks my debut into Rails development.
  </p>
  <h1>What Is This App?</h1>
  <p>
    This simple blog is a testament to my journey in learning web development with Rails. Through this project, I've familiarized myself with the basics of building web applications in this framework.
  </div>
</p>
