<div class="container">
  <div class="post-list">
    <h1>Latest Posts</h1>
    <div class="post-items">
      <% @latest_posts.each do |post| %>
        <div class="post-item">
          <%= render post %>
          <p class="post-link">
            <%= link_to "Show this post", post, class: "btn btn-primary" %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
