<div class="post" id="<%= dom_id post %>">
  <h2 class="post-title"><%= post.title %></h2>
  <h6 class="post-author">
    posted by <%= (post.user.name.present? ? post.user.name : post.user.email) %>
  </h6>
  <div class="post-body">
    <%= post.body %>
  </div>
</div>

